body{
    overflow-x: hidden;
  }
  #topslide{
    font-size: 18px;
    color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;    background-color: rgb(138,115,80);

  }
#nav{
    color: white;
}


  #fixed{
      position: fixed;
      bottom: 80px;
      right: -150px;
      width: 300px;
  }
  #nav1{
    background-color: black;
    padding: 1%;
  }

  #logo{
    margin-left: 70px;
  }
#nav2{
    background-color: rgb(67,69,131);
    padding: 1%;
}
#offer{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}
#offer1{
    color: white;
}

.main{
    padding-bottom: 30px;
  }
  .fixed{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
  }
  .content{
    background-image: url(media/puma.jpg);
    background-position: 50%;
    background-size: cover;
    position: relative;
    height: 75vh;
  }
  
  .c1{
    margin-left: 37%;
    padding-top: 5%;
  }

  .c1 h4{
    font-size: 34px;
    font-weight: 500;
    margin-top: 100px;
    color: #fff;
    padding: 1%;
    padding-left: 5%;
  
  }
  #btn{
    border: 1px solid black;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    background-color: whitesmoke;
  }

  #btn2{
    text-decoration: none;
    color: #000;
  }



  
  .pro-section {
    background-color: #2b5e57;
    position: relative;
    color: white;
    padding: 50px 0;
    padding-bottom: 33%;
}


.pro-text {
    padding: 20px;
}

.pro-title {
    font-size: 36px;
    font-weight: bold;
}

.pro-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.pro-buttons .btn {
    margin-right: 15px;
    padding: 10px 20px;
    font-size: 14px;
}

/* .pro-image img {
    max-width: 100%;
    height: auto;
    position: absolute;
} */
#img2{
  width: 50%;
  right: 1%;
  position:absolute ;
  height: 100%;
}
/* @media screen and (max-width: 900PX){
  #img2{
  left:50% ;
  height: 70%;

  }
} */
#img3{
  width: 38%;
  position: absolute;
  top: 40%;
  left: 15%;
  z-index: 2;
  height: 65%;
}
/* @media screen and (max-width: 900PX){
  #img3{
    top: 57%;
  height: 70%;

  }
} */
#text2{
  font-size: 20px;
}
#div4{
  margin-top: 10%;
  background-color: rgb(17, 16, 16);
}
#btn1{
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
#div5{
  padding-left: 23%;
}
.text3{
  font-size: 20px;;
}
.text4{
  font-size: 15px;
}


#div6{
  background-color: rgb(223,213,207);
}
.text5{
  font-size: 15px;
  color: #000;
}

#splitimgs{
  background-color: #272525;
}







  @media screen and (max-width: 1200PX){
     #social{
     padding-left:100% ;
        display: none !important;
     }
   }
   
   @media screen and (max-width: 900PX){
    #logo{
    width: 10%;
    }
  }
  
  /* @media screen and (max-width: 900PX){
   #menu {
    margin-left: 0;
    }
  } */